@media (max-width:480px) {
    nav a {
        padding: 0 0.5rem;
    }

    button > i {
        font-size: 2.5rem;
    }

    .hero-section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .hero-title-container > h1 {
        font-size: 4rem;
    }
    .big-heading {
        font-size: 5rem;
        top: 14%;
        left: 15%;
    }
    .intro {
        font-size: 1.2rem;
        margin-top: 1.5rem;
    }

    .footer-text {
        font-size: 0.6rem;
        left: 50%;
bottom: 1%;
        transform: translateX(-50%);
    }



    .wave-container {
        visibility: hidden;
    }
}

@media only screen and (min-width: 480px){

}
