	/*
  	Flaticon icon font: Flaticon
  	Creation date: 20/02/2018 10:59
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./font/flaticon/Flaticon.eot");
  src: url("./font/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./font/flaticon/Flaticon.woff") format("woff"),
       url("./font/flaticon/Flaticon.ttf") format("truetype"),
       url("./font/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./font/flaticon/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 1em;
font-style: normal;
/* margin-left: 0px; */
}

.flaticon-monitor:before { content: "\f100"; }
.flaticon-smile-1:before { content: "\f101"; }
.flaticon-diamond:before { content: "\f102"; }
.flaticon-bar-chart:before { content: "\f103"; }
.flaticon-wifi:before { content: "\f104"; }
.flaticon-key:before { content: "\f105"; }
.flaticon-equalizer:before { content: "\f106"; }
.flaticon-credit-card:before { content: "\f107"; }
.flaticon-share:before { content: "\f108"; }
.flaticon-loading:before { content: "\f109"; }
.flaticon-instagram:before { content: "\f10a"; }
.flaticon-link:before { content: "\f10b"; }
.flaticon-broken-link:before { content: "\f10c"; }
.flaticon-smile:before { content: "\f10d"; }
.flaticon-crop:before { content: "\f10e"; }
.flaticon-sad:before { content: "\f10f"; }
.flaticon-cursor:before { content: "\f110"; }
.flaticon-remove-user:before { content: "\f111"; }
.flaticon-add-user:before { content: "\f112"; }
.flaticon-pause:before { content: "\f113"; }
.flaticon-stop:before { content: "\f114"; }
.flaticon-play:before { content: "\f115"; }
.flaticon-move:before { content: "\f116"; }
.flaticon-video:before { content: "\f117"; }
.flaticon-rewind:before { content: "\f118"; }
.flaticon-cloud-computing-1:before { content: "\f119"; }
.flaticon-cloud-computing:before { content: "\f11a"; }
.flaticon-user-1:before { content: "\f11b"; }
.flaticon-star:before { content: "\f11c"; }
.flaticon-facebook:before { content: "\f11d"; }
.flaticon-cloud:before { content: "\f11e"; }
.flaticon-briefcase:before { content: "\f11f"; }
.flaticon-fast-forward:before { content: "\f120"; }
.flaticon-cancel:before { content: "\f121"; }
.flaticon-shield:before { content: "\f122"; }
.flaticon-calculator:before { content: "\f123"; }
.flaticon-photo-camera:before { content: "\f124"; }
.flaticon-cut-1:before { content: "\f125"; }
.flaticon-shuffle:before { content: "\f126"; }
.flaticon-compass:before { content: "\f127"; }
.flaticon-folder:before { content: "\f128"; }
.flaticon-minus:before { content: "\f129"; }
.flaticon-plus:before { content: "\f12a"; }
.flaticon-file:before { content: "\f12b"; }
.flaticon-align-right:before { content: "\f12c"; }
.flaticon-expand:before { content: "\f12d"; }
.flaticon-earth-grid:before { content: "\f12e"; }
.flaticon-justify:before { content: "\f12f"; }
.flaticon-copy:before { content: "\f130"; }
.flaticon-tag:before { content: "\f131"; }
.flaticon-minimize:before { content: "\f132"; }
.flaticon-switch-1:before { content: "\f133"; }
.flaticon-heart:before { content: "\f134"; }
.flaticon-clip:before { content: "\f135"; }
.flaticon-cube:before { content: "\f136"; }
.flaticon-information:before { content: "\f137"; }
.flaticon-eye:before { content: "\f138"; }
.flaticon-hide:before { content: "\f139"; }
.flaticon-log-out:before { content: "\f13a"; }
.flaticon-align-left:before { content: "\f13b"; }
.flaticon-puzzle:before { content: "\f13c"; }
.flaticon-switch:before { content: "\f13d"; }
.flaticon-picture:before { content: "\f13e"; }
.flaticon-pin-1:before { content: "\f13f"; }
.flaticon-right-arrow-1:before { content: "\f140"; }
.flaticon-refresh:before { content: "\f141"; }
.flaticon-filter:before { content: "\f142"; }
.flaticon-pencil:before { content: "\f143"; }
.flaticon-log-in:before { content: "\f144"; }
.flaticon-reply-all:before { content: "\f145"; }
.flaticon-reply:before { content: "\f146"; }
.flaticon-silence:before { content: "\f147"; }
.flaticon-settings:before { content: "\f148"; }
.flaticon-email-2:before { content: "\f149"; }
.flaticon-left-arrow-2:before { content: "\f14a"; }
.flaticon-email-1:before { content: "\f14b"; }
.flaticon-menu-1:before { content: "\f14c"; }
.flaticon-left-arrow-1:before { content: "\f14d"; }
.flaticon-right-arrow:before { content: "\f14e"; }
.flaticon-down-arrow-2:before { content: "\f14f"; }
.flaticon-up-arrow-2:before { content: "\f150"; }
.flaticon-alarm-1:before { content: "\f151"; }
.flaticon-chevron:before { content: "\f152"; }
.flaticon-firefox:before { content: "\f153"; }
.flaticon-disabled:before { content: "\f154"; }
.flaticon-qr-code:before { content: "\f155"; }
.flaticon-cut:before { content: "\f156"; }
.flaticon-tools:before { content: "\f157"; }
.flaticon-piggy-bank:before { content: "\f158"; }
.flaticon-binoculars:before { content: "\f159"; }
.flaticon-shopping-cart:before { content: "\f15a"; }
.flaticon-money:before { content: "\f15b"; }
.flaticon-down-arrow-1:before { content: "\f15c"; }
.flaticon-thermometer:before { content: "\f15d"; }
.flaticon-umbrella:before { content: "\f15e"; }
.flaticon-dashboard:before { content: "\f15f"; }
.flaticon-pin:before { content: "\f160"; }
.flaticon-megaphone:before { content: "\f161"; }
.flaticon-youtube:before { content: "\f162"; }
.flaticon-wind:before { content: "\f163"; }
.flaticon-safari:before { content: "\f164"; }
.flaticon-chrome:before { content: "\f165"; }
.flaticon-headphones:before { content: "\f166"; }
.flaticon-down-arrow:before { content: "\f167"; }
.flaticon-twitter:before { content: "\f168"; }
.flaticon-target:before { content: "\f169"; }
.flaticon-leaf:before { content: "\f16a"; }
.flaticon-highlighter:before { content: "\f16b"; }
.flaticon-smartphone:before { content: "\f16c"; }
.flaticon-screenshot:before { content: "\f16d"; }
.flaticon-power-button:before { content: "\f16e"; }
.flaticon-question:before { content: "\f16f"; }
.flaticon-push-pin:before { content: "\f170"; }
.flaticon-flag:before { content: "\f171"; }
.flaticon-left-arrow:before { content: "\f172"; }
.flaticon-moon:before { content: "\f173"; }
.flaticon-video-camera:before { content: "\f174"; }
.flaticon-music:before { content: "\f175"; }
.flaticon-printer:before { content: "\f176"; }
.flaticon-diskette:before { content: "\f177"; }
.flaticon-paste:before { content: "\f178"; }
.flaticon-mute-1:before { content: "\f179"; }
.flaticon-paint-bucket:before { content: "\f17a"; }
.flaticon-clicker:before { content: "\f17b"; }
.flaticon-dislike:before { content: "\f17c"; }
.flaticon-up-arrow-1:before { content: "\f17d"; }
.flaticon-like:before { content: "\f17e"; }
.flaticon-straight:before { content: "\f17f"; }
.flaticon-joke:before { content: "\f180"; }
.flaticon-surprise:before { content: "\f181"; }
.flaticon-scale:before { content: "\f182"; }
.flaticon-trash-1:before { content: "\f183"; }
.flaticon-trash:before { content: "\f184"; }
.flaticon-phone-call-2:before { content: "\f185"; }
.flaticon-phone-call-1:before { content: "\f186"; }
.flaticon-phone-call:before { content: "\f187"; }
.flaticon-eraser:before { content: "\f188"; }
.flaticon-thunderbolt:before { content: "\f189"; }
.flaticon-snowflake:before { content: "\f18a"; }
.flaticon-sun:before { content: "\f18b"; }
.flaticon-home:before { content: "\f18c"; }
.flaticon-microphone:before { content: "\f18d"; }
.flaticon-idea:before { content: "\f18e"; }
.flaticon-layout:before { content: "\f18f"; }
.flaticon-upload:before { content: "\f190"; }
.flaticon-download:before { content: "\f191"; }
.flaticon-medal:before { content: "\f192"; }
.flaticon-open-lock:before { content: "\f193"; }
.flaticon-diagram:before { content: "\f194"; }
.flaticon-pie-chart:before { content: "\f195"; }
.flaticon-check:before { content: "\f196"; }
.flaticon-followers:before { content: "\f197"; }
.flaticon-user:before { content: "\f198"; }
.flaticon-bookmark:before { content: "\f199"; }
.flaticon-usb:before { content: "\f19a"; }
.flaticon-mute:before { content: "\f19b"; }
.flaticon-volume:before { content: "\f19c"; }
.flaticon-bluetooth:before { content: "\f19d"; }
.flaticon-email:before { content: "\f19e"; }
.flaticon-chat:before { content: "\f19f"; }
.flaticon-alarm:before { content: "\f1a0"; }
.flaticon-edit:before { content: "\f1a1"; }
.flaticon-calendar:before { content: "\f1a2"; }
.flaticon-up-arrow:before { content: "\f1a3"; }
.flaticon-menu:before { content: "\f1a4"; }
.flaticon-hourglass:before { content: "\f1a5"; }
.flaticon-wall-clock:before { content: "\f1a6"; }
.flaticon-padlock:before { content: "\f1a7"; }
